{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Battery List</h1>
</div>

<div class="row">



</div>

{% if battery%}

<!-- Begin Page Content -->
        <div class="container-fluid">

        <!-- DataTales  -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">BatterY Detail</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Serial Number</th>
                      <th>Model Number</th>
                      <th>Owner</th>
                      <th>Status</th>
                      <th>Longitude</th>
                      <th>Lattitude</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{battery.battery_SN}}</td>
                      <td>{{battery.battery_model}}</td>
                      <td>{{battery.battery_owner}}</td>
                      <td>{{battery.battery_status}}</td>
                      <td>{{battery.battery_longitude}}</td>
                      <td>{{battery.battery_latitude}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
{% else %} NO Battery Detail Available {% endif %}



{% endblock %}