{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Battery List</h1>
</div>

<div class="row">



</div>

{% if transaction_list%}

<!-- Begin Page Content -->
        <div class="container-fluid">

        <!-- DataTales  -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Transaction ID</th>
                      <th>Battery ID</th>
                      <th>Charging Station</th>
                      <th>Battery Charged</th>
                      <th>Transaction Amount</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Transaction ID</th>
                      <th>Battery ID</th>
                      <th>Charging Station</th>
                      <th>Battery Charged</th>
                      <th>Transaction Amount</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for transaction in transaction_list %}
                    <tr>
                      <td>{{transaction.id}}</td>
                      <td>{{transaction.Battery}}</td>
                      <td>{{transaction.Station}}</td>
                      <td>{{transaction.battery_charged}}</td>
                      <td>{{transaction.transaction_amount}}</td>
                    </tr>
                     {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
{% else %} NO Battery Data Available {% endif %}

  <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static "js/demo/datatables-demo.js" %}"></script>

{% endblock %}